html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Acme', sans-serif;
  
}
body {
  min-height: 100vh;
  max-height: 100vh;
}

.hero {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero p {
  font-size: 5.5vmin;
}

div.carouselPhotos {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 35vh;
  width: 25vw;
  max-width: 25vw;
  margin-bottom: 2rem;
  margin-left: 2rem;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 14px 2px 24px 3px rgba(0,0,0,0.75);
  -webkit-box-shadow: 14px 2px 24px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 2px 24px 3px rgba(0,0,0,0.75);
  transition: all 0.5s;
}

#picContainer {
  border: 2px solid rgb(97, 97, 240);
  margin: 5rem 2rem 0rem 2rem;
  border-radius: 10px;
}

.navLink {
  font-size: 2.5vmin;
}

.foto {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 2rem 2rem 0rem 2rem;
  border: 2px solid black;
  text-align: center;
  color: white;
}
a .foto {
  height: 35vh;
  align-self: center;
}

a #fotoCity1 {
  background-position: 50% 20%;
}

a #fotoCity3 {
  background-position: 50% 20%;
}

a #fotoCity4 {
  background-position: 50% 28%;
}

#city{
  display: flex;
  flex-direction: column;
  
}

#city h2{
  text-align: center;
}

div#under {
  width: 20%;
  height: 42vh;
  background-size: cover;
  align-self: center;
}

#headerCity {
  height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  
}

div.carouselPhotos:hover {
  transform: scale(1.1);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: orange;
  border-radius: 100%;
  transition: all 0.5s;
}

.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
  transform: scale(2);
}

#nameCity {
  background: linear-gradient(rgba(255, 255, 255, 0.144), rgba(0, 0, 0, 1));
  text-align: center;
  color: orange;
  font-size: 4vmin;
}

#fotoHeader{
  background-size: cover;
  max-width: 100%;
  background-position: 60%;
  height: 55vh;
}

div.slide {
  margin-top: 1.5rem;
  margin-left: 12%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 60%;
  width: 75%;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  height: 30%;
  margin-right: 1rem;
}

#notFoundCity {
  background-size: cover;
  height: 50vh;
}

#notFoundContainer {
  text-align: center;
}

#sesion {
  border-radius: 100%;
  margin-left: 5px;
  width: 30%;
}

#sesion2 {
  width: 5%;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  background: rgb(225,210,179);
background: linear-gradient(0deg, rgba(225,210,179,0.2413340336134454) 100%, rgba(157,79,178,1) 100%);
}

#fondoMain {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  max-width: 100%;
}



#contenedorBuscador {
  display: flex;
  height: 10rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

#buscador {
  border: 2px solid rgb(221, 171, 125);
  border-radius: 20px 20px;
  width: 35%;
  padding: 0.4rem 0;
  text-align: center;
  font-size: 3vmin;
  font-weight: lighter;
  outline: none;
}

#label {
  font-size: 2rem;
  margin-bottom: 1.3rem;
}

#contenedorFotos {
  display: grid;
  margin: 10px 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
}

.foto {
  background-size: cover;
  background-position: center;
  height: 15rem;
}

.sr-only {
  display: none;
}

#logo {
  max-height: 20rem;
}

#footer {
  display: flex;
  font-size: 2vmin;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-left: 1rem;
}

#footer2 {
  justify-content: space-around;
  display: flex;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
  padding-bottom: 1rem;
  margin-top: 1.5rem;
}

.redSocial {
  margin-left: 2rem;
  width: 20%;
  height: 3rem;
}

#redesSociales {
  height: 70%;
}

#botonAccion {
  margin-top: 6rem;
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#botonAccion p{
  font-size: 5vmin;
  text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.94);
  text-align: center;
  font-weight: bold;
  color: rgb(0, 153, 255);
}

#botonAccion button {
  border: none;
  color: rgb(3, 3, 73);
  padding: 1.5rem;
  border-radius: 5px;
  margin-top: 2rem;
  font-size: 3vmin;
  font-weight: bolder;
  background: linear-gradient(orange,rgb(143, 87, 14));
  transition: 0.5s;
}

#botonAccion button:hover{
  transform: scale(1.1);
  box-shadow: 22px 2px 24px 3px rgba(0,0,0,0.75);
  -webkit-box-shadow: 22px 2px 24px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 22px 2px 24px 3px rgba(0, 0, 0, 0.75);
}

#itinerario {
  font-size: 7vmin;
  color: rgb(255, 166, 0);
  margin-top: 30px;
  text-align: center;
  text-decoration: blue;
  font-weight: bold;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.94);
}

a{
  text-decoration: none;
  color: rgb(4, 4, 105);
  font-weight: bold;
}

#medio {
  width: 100%;
}

#card {
  display: flex;
  box-shadow: 14px 17px 28px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: 14px 17px 28px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 14px 17px 28px -5px rgba(0,0,0,0.75);
}

#cardIn {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#cardIn #iteraccion {
  display: flex;
  justify-content: space-between;
}

#iteraccion .like {
  margin-right: 20%;
}

#cardIn h2{
  font-size: 3vmin;
  background-color: rgba(18, 18, 136, 0.219);
  border-radius: 10px;
}

#card #foto{
  width: 45%;
  height: 50%;
  align-self: center;
  border-radius: 10px;
}

#card div img {
  width: 20%;
  border-radius: 100%;
}

#card div div {
  display: flex;
  align-items: center;
}

#card .description {
  font-size: 2.5vmin;
}

#card .hash {
  font-size: 2vmin;
  margin-left: 1rem;
  color: rgb(148, 147, 147);
}

#card div {
  margin-left: 1rem;
}

#card .duration{
  font-size: 2vmin;
}

#card #duration {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#cardIn #buttonClick {
  display: flex;
  width: 100%;
  justify-content: center;
}

#card #buttonOnClick {
  width: 45%;
  padding: 0.6rem;
  border-radius: 5px;
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#itinerariesNotFound {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#back {
  color: rgb(4, 15, 170);
  border-radius: 5px;
  margin-top: 2%;
}

.inputs {
  display: flex;
  flex-direction: column;
  max-height: 80.5vh;
  min-height: 80.5vh;
  align-items: center;
  justify-content: center;
}

#srcUser {
  height: 70%;
  display: flex;
  align-items: center;
}

#srcUser p {
 font-size: 1.2rem;
 align-self: center;
}

.inputs div{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.274);
  box-shadow: 6px 8px 17px 4px rgba(0,0,0,0.6);
  -webkit-box-shadow: 6px 8px 17px 4px rgba(0,0,0,0.6);
  -moz-box-shadow: 6px 8px 17px 4px rgba(0,0,0,0.6);
}

.inputs div input, .inputs div select   {
  margin-top: 0.7rem;
  border-radius: 5px;
  border: 0.5px solid black;
  outline: none;
  font-size: 2.5vmin;
  text-align: center;
}

.inputs div p {
  margin-top: 0.7rem;
}

.inputs div .here {
  font-size: 1rem;
}

.inputs div button {
  height: 2.3rem;
  width: 45%;
  margin-top: 0.3rem;
  border-radius: 5px;
  border: 0.5px solid black;
  outline: none;
  font-size: 3vmin;
  align-self: center;
}

.inputs2 div button {
  width: 90%;
}

.inputs div #buttonSign {
  margin-top: 0.7rem;
  border-radius: 5px;
  border: 0.5px solid black;
  outline: none;
  font-size: 2.5vmin;
  text-align: center;
  width: 60%;
  align-self: center;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(61,61,68,0.9640231092436975) 0%, rgba(255,255,255,1) 100%);
}

.inputs div p {
  font-size: 1.5vmin;
  text-align: center;
}

#gradient {
  background: rgb(0,0,0);
  background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(252,252,255,1) 0%, rgba(0,0,0,0) 100%);
}

.sign {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

span {
  cursor: pointer;
}

#likeBut{
  width: 10%;
  background: none;
  border: none;
  margin-right: 20%;
}

.carrouselActivities {
  height: 100%;
  width: 10%;
  margin-left: 1rem !important;
}

.activityPhoto {
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: center;
  width: 40vw;
}

#comment {
  display: flex;
  width: 60%;
}

#comment input {
  width: 70%;
  margin-right: 1rem;
  padding: 1rem
}

#comment button {
  border: none;
  background: none;

}

#loadingSpinner{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-inner {
}

#carouselContainer{
  display: flex;
  justify-content: space-around;
  height: 60vh;
}

#carouselContainerSec{
  margin: 1rem 0;
  width: 30%;
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.carousel-inditators{
  height: 20%;
}

#comment{
  display: flex;
}

#containerComments{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}

#commentsContainer{
  height: 70%;
  background-color: burlywood;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#inputChange{
  display: flex;
  border: 1px solid black;
  background-color: rgba(128, 128, 128, 0.559);
  border-radius: 5px;
  margin-top: 0.5rem;
  width: 70%;
}

#inputChange2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#inputChange2 {
  border: none;
}

#picInputChange {
  border-radius: 100%;
  width: 9%;
}

#divInputChange{
  display: flex;
  margin: 1rem 0 0.5rem 1rem;
}

#divInputChange p{
  margin-left: 1rem;
  align-self: center;
  font-size: 2rem;
}

#likeButIt{
  width: 15%;
}

@media(max-width: 990px){
  div.carouselPhotos{
    height: 8rem;
    max-width: 80vw;
    width: 80vw;
  }
  #fondoCities{
    max-width: 100%;
  }

  #likeBut{
    width: 15%;
  }

  #logo {
    margin-left: -2rem;
    margin-top: 2rem;
    height: 50%;
  }

  #card #duration {
    width: 60%;
  }

  #boton {
    width: 70%;
    font-size: 3.2vmin;
    margin-left: -5rem;
  }
}


@media(max-width: 850px){
#nav{
  display: flex;
  width: 100%;
}

#nav{
  margin-right: 0;
  margin-left: 1rem;
}

}

@media(max-width: 750px){
  div.carouselPhotos{
    height: 8rem;
    max-width: 80vw;
    width: 80vw;
  }

  #card #duration {
    width: 70%;
  }

  #iteraccion .like {
    margin-right: 10%;
  }

  div.slide{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .inputs2 div {
    width: 60%;
   }

   .inputs2 div button {    
   }

  #itinerario{
    font-size: 4vmin;
    text-align: center;
  }
  
   #footer2 {
    width: 100%;
  }

  .redSocial {
    height: 2rem;
    margin: 10px;
  }

  #logo {
    margin-left: 14rem;
    margin-top: 6rem;
    height: 25%;
  }

  .inputs div button {
    width: 70%;
  }

  div .carousel {
    align-self: center;
  }

}

@media(max-width: 550px){
  div.slide{
    display: flex;
    flex-direction: column;
  }
  div.carouselPhotos{
    height: 8rem;
    max-width: 60vw;
    width: 60vw;
  }
  #nav{
    display: flex;
    width: 100%;
  }

  #card #duration p{
    width: 100%;
    font-size: 0.8rem;
  }

  #boton {
    width: 50%;
    margin-left: -5rem;
  }
  
  #srcUser {
    height: 70%;
    display: flex;
    align-items: center;
  }

  #sesion {
    border-radius: 100%;
    margin-left: 5px;
  }

  #logo {
      margin-left: 6rem;
      margin-top: 7rem;
      height: 25%;
  }
  
#vid {
  width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	min-height: 100vh;
	object-fit: cover;
}

  #footer h5 {
    font-size: 3.5vmin;
  }
  .redSocialIcono{
    justify-content: flex-end;
    align-items: center;
    height: 4rem;
  }

  #card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }

  #cardIn {
    width: 90%;
    display: flex;
  }

  #card #foto{
    width: 80%;
    height: 50%;
    align-self: center;
  }

  #cardIn #buttonClick {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 0;
  }

  #card .hash {
    font-size: 3vmin;
    margin-left: 1rem;
    color: rgb(148, 147, 147);
  }

  .inputs div button {
    width: 75%;
  }
  .inputs2 div button {
    width: 95%;
  }

}
